{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block body %}

    <div id="homePage1Part" class="container mx-auto px-4 py-8">
        <div>
            <h1 style="justify-content: flex-start;;text-align: left;" class="text-3xl font-bold mb-4"> My Tutor Space  </h1>
            <p class="pHomePage"> Donner aux tuteurs privés les outils pour façonner l’avenir,une leçon à la fois. </p>
        </div>
        <div>
            <img src="/img/photoelearning.png" alt="photoElearning">
        </div>

    </div>


{% endblock %}
