{% extends 'base.html.twig' %}

{% block title %}Leçons !{% endblock %}

{% block body %}

<div class="listLecon">
  
    {% for lecon in lecons %}
        <ul class="divide-y divide-gray-200 rounded-lg">   
            <li style="display: flex;
            flex-direction: row;
            align-content: space-between;
            justify-content: space-between;
            align-items: center;" class="px-4 py-2 hover:bg-gray-100"> 
                <a href="{{ path('show_lecon',{'id': lecon.id })}}" class="text-gray-200 hover:underline"> 
                    {{ lecon.titre }} 
                </a>
            </li>
        </ul> <br>            
    {% endfor %}
    <br>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('add_lecon') }}" class="text-white font-bold py-2 px-4 rounded" style="background-color: #FFD700;">
            Ajouter une lecon
        </a>
    {% endif %}

</div>
{% endblock %}
