{% extends 'base.html.twig' %}

{% block title %} Leçons !{% endblock %}

{% block body %}

<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-center mb-4">Détail de la leçon</h1>
</div>

<div  class=" p-6 rounded-lg shadow-md">
    <p class="text-gray-300">
        <strong class="font-semibold"> Description: </strong> {{ matiere.description }} <br>
    </p>
    <a href="{{ path('show_exercice', {'id': exercice.id }) }}"> Exercices </a>

</div>
<br>

{% endblock %}