@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    background-color: #1B4255;
}

h1{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #FFD700;
    font-size: xx-large;
}

h2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #FFD700;
    font-size: xx-large;
}

#registerForm{
    width: 100%;
    display: flex;
    justify-content: center;

}

#formR{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.listMatieres{
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}

.listMatieres ul li{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}


/* -------------------------------  NavBar ------------------------------- */
.profilNavBar{
    display: flex;
    flex-direction: row;

}
.pProfil {
    display: flex;
    align-items: flex-end;

}

/* -------------------------------  Register/Role ------------------------------- */
.RoleChoix{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    background-color: #ECECEC;
    width: 470px;
    height: 350px;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    padding: 20px;


}
.RoleDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
}

.h1log{
    color: #ECECEC;
    font-size: xxx-large;
    margin-bottom: 60px;
}

.titleRegister{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* -------------------------------  HomePage ------------------------------- */

#homePage1Part{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 80px;
    flex-direction: column;
}

.TextTitle{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pHomePage{
    color: #ECECEC;
    font-size: x-large;
    text-align: left;
}
.PicTitle{
    display: flex;
}

/* ------------------------------- Exercices --------------------------------------- */
.listExercice ul li{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.listExercice {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 60px
}

/* -------------------------------  Ressources ------------------------------- */
.listRessource ul li{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.listRessource {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 60px
}

.content{
    margin: 60px;
}

/* -------------------------------  Leçons ------------------------------- */

.listLecon ul li{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #ECECEC;

    
}

.listLecon{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 60px;
    gap: 20px;
    flex-wrap: wrap;
}

.listLecon1{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    margin: 60px;
    gap: 20px;
    flex-wrap: wrap;
}

.InfoLecon{
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    margin: 10px;
    padding: 30px;
    justify-content: center;
    width: 430px;
    height: 150px;
    text-align: center;
}

.InfoLecon a{
    text-align: center;
    font-size: larger;
}

.leconSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.detailLecon{
    margin: 60px;
}


/* ----------------------- Niveau --------------------------------- */
.listNiveau{
    display: flex;
    flex-direction: row;
    margin: 60px;
    gap: 30px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.niveauList{
    background-color: #ECECEC;
    color: black;
    text-align: center;
    border-radius: 10px;
    width: 430px;
    height: 150px;
    font-size: larger;
    justify-content: center;
    display: flex;
    align-content: center;
    align-items: center;
}


/* -------------------------------  Users ------------------------------- */
label{
    color: #ECECEC;
    font-size: large;
}

.listEditUser{
    display: flex;
    flex-direction: column;
    margin: 60px;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#editForm{
    width: 90%;
}

#errorText{
    display: flex;
    justify-content: center;
    margin: 60px;
}