<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue !{% endblock %}</title>
        <link rel="icon" href="{{ path('img/iconTitle.png') }}">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('CSS/style.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}

        
        
        {% endblock %}
    </body>
</html>
