{% extends 'base.html.twig' %}

{% block title %} Profil Admin {% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        {# J'affiche un titre pour le profil de l'administrateur #}
        <h2 class="text-gray-300">Profil Administrateur</h2>

        {# J'affiche les informations spécifiques de l'administrateur #}
        <p class="text-gray-300">Nom : {{ user.nom }}</p>
        <p class="text-gray-300">Email : {{ user.email }}</p>

        {# Je fournis un lien pour modifier le profil de l'utilisateur en utilisant son ID #}
        <a class="text-gray-300" href="{{ path('app_user_edit', { id: user.id }) }}" class="btn"> Modifier le profil </a>
    {% else %}
        {# Message d'accès interdit si l'utilisateur n'est pas admin #}
        <h2 class="text-gray-300">Accès interdit</h2>
        <p class="text-gray-300">Vous n'avez pas les droits nécessaires pour accéder à cette page.</p>
    {% endif %}
{% endblock %}

